<html>
    <head>
        <title>Inventory change</title>
    </head>
    <body>
        <h1>Inventory Updated </h1>
        <h3>Details about the updated part</h3>
        <table>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Quantity</td>
            </tr>
            <tr>
                <td>{{part.part_id}}</td>
                <td>{{part.name}}</td>
                <td>{{part.quantity}}</td>
            </tr>
        </table>

        <a href="/">Return to home page</a>
    </body>
</html>
