<html>
  <head>
    <title>Update Items</title>
  </head>
  <body>
    <h1> Update Inventory Item</h1>
    <form action="" method="POST">
      <p>Part name <input type = "text" name = "name" value="{{part.name}}"/></p>
      <p>Part ID <input type = "integer" name = "part_id"  value="{{part.part_id}}"/></p>
      <p>Quantity <input type = "integer" name = "quantity" value="{{part.quantity}}"/></p>
      <p><input type = "submit" value = "Submit" /></p>
      </form>
    <a href="/">Return to home page</a>
  </body>
  
</html>
